* {
  margin: 0px;
  padding: 0px;
}

.m{
  display: flex;
  align-items: center;

  width: 80vw;
  margin-left: 10vw;

  margin-top: 20px;
  flex-direction: column;
}

.sec {
  width: 80%;
  padding: 20px;
  border: 2px dotted rgb(171, 171, 171);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.fm {
  width: 100%;
}

.fdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sp {
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

#spp {
  color: black;
  font-size: xx-large;
}

#sp0 {
  background-color: #ff9900;
}

#sp1 {
  background-color: #669900;
}

#sp2 {
  background-color: #006666;
}

#sp3 {
  background-color: #0000cc;
}

#sp4 {
  background-color: #6600cc;
}




.bt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: dodgerblue;
  color: white;
  border: 0px;
  border-radius: 5px;
  margin: 5px;
}

.bt:hover {
  background-color:darkslateblue;
  cursor: pointer;
}